/*<!-- This CSS package applies Google styling; it should always be included.
<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons.css">-->
<style>*/
:root {
  --bluelighter: #24478f;
  --classBox: #ffffe6;
  --classBoxE: #e6e6ff;
  --canvasColor: #ccffff;
}

* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  transform-origin: top left;
}
.mainGrid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto;
  position: absolute;
  top: 100px;
  color: black;
}

.content {
  overflow: auto;
  width: 500px;
  height: 500px;
}

.classBox {
  position: relative;
  border: 2px solid black;
  border-radius: 0% 20% 20% 0%;
  height: 100px;
  width: 175px;
  margin: 30px;
  text-align: left;
  box-sizing: border-box;
  background-color: var(--classBox);
}

.classBox:hover {
  background-color: orange;
  cursor: pointer;
}

.elective {
  border: 2px dotted black;
  background-color: var(--classBoxE);
}
.clicked {
  background-color: #ff884d;
  color: white;
  border-left: inset 6px black;
  border-top: solid 2px black;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
}

.hide {
  opacity: 10%;
}
.disabled {
  pointer-events: none;
}

.found {
  background-color: #ffff99;
}
.currentSearch
{
  background: linear-gradient(90deg, orange, #ffff99);
  border: 4px double black;
}

h1 {
  font-size: 28px;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 0.7rem;
}
h4 {
  font-size: 0.6rem;
}

#myCanvas {
  z-index: -5;
  position: absolute;
  background-color: var(--canvasColor);
  top: 70px;
  width: 3000px;
  height: 1600px;
  border: 3px solid black;
}

.sidebar {
  line-height: 1.5;
  color: #eeffff;
  border-left: 2px solid black;
  align: right;
  background-color: var(--bluelighter);
  width: 15rem;
  height: 100%;
  top: 0px;
  right: 0px;
  padding: 0;
  position: fixed;
  transition: transform 200ms ease-in;
  z-index: 1;
  overflow: auto;
  white-space: nowrap;
}
.sidebar--isHidden {
  transform: translateX(+16rem);
  transition: transform 200ms ease-out;
}
.classSelected {
  text-align: center;
  white-space: normal;
  font-size: 1.5rem;
}
.prereqList {
  text-align: center;
  
  word-wrap: break-word; 
  white-space: nowrap;
  max-width: 12rem;
  width: 80%;
}
.prereqItems {
  background-color: #242070;
  border: 2px solid black;
  justify-content: center;
  display: flex;
}

.sidebarbtn {
  min-width: 100px;
  max-width: 200px;
  min-height: 20px;
  max-height: 50px;
  width: 10rem;
  height: 10rem;
  text-align: center;
  margin-top: 2rem;
  margin-left: -0.3rem;
  
  border-radius: 20% 5% 20% 5%;
  background-color: var(--bluelighter);
  color: #eeffff;
  z-index: 1;
}
.sidebarbtn:hover {
  background-color: #24878f;
}






.search {
  position: absolute;
}
#class-search {
  margin-right: 5px;
  border: 2px solid;
  width: 150px;
}
#searchButton {
  border: 2px solid;
}

.tools {
  background-color: white;
  position: fixed;
  display: inline-block;
  width: 37rem;;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  top: 0;
  height: 1.2rem;
  left: 0;
  z-index: 1;
  border-radius: 0% 0% 0% 0%;
}

.legend--isHidden {
  transform: translateY(+20rem);
  transition: transform 200ms ease-out;
}
.legend
{
  position: fixed;
  bottom: 0;
  margin: 5% 0% 0% 0%;
  transition: transform 200ms ease-in;
  width: 15%;
  height: 30%;
  background-color: white;
  z-index: 2;
  border: 2px solid black;
}
.legendKey
{
  display: inline;
}
.legendTitle
{
  text-align: center;
  margin: 1rem 0 0 0;
  font-size: 1.5rem;
}
.legendKey > h2
{
  font-size: 0.9rem;
  margin-top: -1.4rem;
  margin-left: 5rem;
  text-align: left;
}
.color1, .color2
{
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid black;
  margin-left: 2rem;
}
.color1
{
  background-color: var(--classBox); 
}

.color2
{
  border: dotted;
  background-color: var(--classBoxE); 
}


#zooms {
  background-color: transparent;
  background-color: yellow;
  width: 0;
}
#zooms > button {
  width: 30px;
  height: 30px;
  border-radius: 5%;
  border: 1px solid black;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  font-weight: bold;
  text-align: center;
}
#zoomIn,
#zoomOut {
  vertical-align: text-center;
  transform: translateY(50%);
  font-size: 18px;
}

#zoomIn:hover,
#zoomOut:hover {
  background-color: #cccccc;
}

.foundbtn
{
  text-align: center;
  height: 2.5rem;
  width: 60%;
  background-color: var(--bluelighter);
  color: #eeffff;
  font-size: 1.2rem;
}
.foundbtn:hover
{
  background-color: #24878f;
}

/* mobile screen */
@media (max-width: 850px) {
  .mainGrid {
    transform: scale(0.6);
    transform-origin: 0 0;
  }
  .sidebar {
    border-left: 2px solid black;

    width: 6rem;

    z-index: 1;
  }
  .sidebar--isHidden {
    transform: translateX(+10rem);
    transition: transform 200ms ease-out;
  }
  .sidebarbtn {
    width: 2rem;
    height: 2rem;
  }
  h1 {
    font-size: 12px;
  }
  h2 {
    font-size: 8px;
  }
  .search {
    font-size: 8px;
  }
  .tools
  {
    width: 50%;
  }
  .classSelected
  {
    font-size: 12px;
  }
  .foundbtn
  {
    font-size: 8px;
    width: 80%;
    height: 1.3rem;
  }
  .legendKey > h2
  {
    font-size: 0.5rem;
    margin-top: -1.2rem;
    margin-left: 2rem;
  }
  .color1, .color2
  {
    width: 1rem;
    height: 1rem;

    margin-left: 0.5rem;
  }
  
  .legendTitle
{
  
  font-size: 0.75rem;
}
  #class-search
  {
    width: 150px;
    height: 20px;
  }
  #zoomIn,
  #zoomOut {
    transform: translateY(1rem);
  }
  #zooms {
    flex-direction: column;
  }
}
/*</style>*/


